.container{
    border: solid blue;
    padding: 10px;

}
.col-5 {
    border: 3px solid red;

}
.col-7 {
     border: 3px solid red;
}
.col-12 {
    border: 3px solid red;
}
.col-4 {
    border: 3px solid red;
}
.col-6 {
    border: 3px solid red;
}
.mynavbar{
    background-color: cyan;
}